*{
    margin: 0;
    padding: 0;
}
body{
    margin: 10px;
}
.logo{
    width: 6rem;
}
h1{
    font-size: 60px;
}
.cc{
    display: inline;
    font-size: 60px;
    color: rgb(78, 78, 171);
}
.container{
    display: flex;
    gap: 100px;
}
.card{
    display: flex;
    padding-top: 20px;
}
.title-image{
    height: 200px;
    border-radius: 10px;
    border: 4px double black;
}
.card-title {
    display: block;
    margin: 0;
    padding-left: 25px;
    padding-top: 10px;
    font-weight: 700;
    font-size: 35px;
}
.card-text {
    margin: 0;
    padding: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
.footer {
    padding-top: 115px;
    position: relative;
    height: 50px;
    width: 100%;
}

.footer>p {
    padding: 10px;
    font-weight: bolder;
    text-align: end;
}

p{
    margin: 10px 5px;
    font-size: 1.2rem;
}
@media (max-width:1283px){
    .card{
        flex-wrap: wrap;
    }
}
@media (max-width:800px){
    .container{
        display: block;
    }
}
@media (max-width:425px){
    h1{
        font-size: 30px;
    }
    .cc{
        font-size: 30px;
    }
}